<div class="container-fluid">
    <div class="row">
      <!-- Menú Vertical -->
      <nav class="col-md-3 col-lg-2 d-md-block bg-primary sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active text-white">
                SHADDAY
              </a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Productos
                </button>
                <ul class="dropdown-menu">
                  <li><a class="nav-link text-white dropdown-item" routerLink="/productos_crear">Crear Producto</a></li>
                  <li><a class="nav-link text-white dropdown-item" routerLink="/productos_listar">Listar Productos</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              

              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Clientes
                </button>
                <ul class="dropdown-menu">
                  <li><a class="nav-link text-white dropdown-item" routerLink="/clientes_crear">Crear Cliente</a></li>
                  <li><a class="nav-link text-white dropdown-item" routerLink="/clientes_listar">Listar Clientes</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Facturas
                </button>
                <ul class="dropdown-menu">
                  <li><a class="nav-link text-white dropdown-item" routerLink="/invoices">Crear Factura</a></li>
                  <li><a class="nav-link text-white dropdown-item" routerLink="/invoices">Listar Facturas</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="">
                Consultas
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Contenido Principal -->
      <main role="main" class="col-md-9 col-lg-10 px-md-4" style="height: 100vh;">
        <router-outlet></router-outlet>
        
      </main>
    </div>
  </div>